@model StackOverflow.Models.Question
@using System.Security.Claims

@{
    ViewData["Title"] = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Topic : @Html.DisplayFor(m => m.Topic)</p>
<hr/>
<p>@Html.DisplayFor(m => m.QuestionDescription)</p>
<hr/>
<p>@Html.DisplayFor(m => Model.User.UserName)</p>


<h4>Answers:</h4>
@foreach (var answer in Model.Answers)
{
    <li>@Html.DisplayFor(m => answer.Description)</li>
}


@Html.ActionLink("Back To Questions", "Index")
<br>
@Html.ActionLink("Answer", "Create", "Answer", new { id = Model.QuestionId})
